.config/tmux/plugins
.config/gh/hosts.yml

.config/vifm/vifminfo.json
.config/vifm/vifminfo.json_2040

.config/yazi/flavors
.config/yazi/plugins
.config/yazi/package.toml

.config/vim/pack
.config/vim/.netrwhist
.config/nvim/lazy-lock.json

.config/opencode/node_modules
.config/opencode/bun.lock
.config/opencode/package.json
.config/opencode/package-lock.json
